
<div class="okashis-container">
<%= image_tag 'aa.jpg', class:'photo' %>

<div class="genre">

<br><%= link_to "キャンディー", okashis_candy_path %>
<br><%= link_to "ケーキ", okashis_cake_path %>
<br><%= link_to "チョコレート", okashis_choco_path %>
<br><%= link_to "ガム", okashis_gam_path %>
<br><%= link_to "スナック", okashis_snack_path %>
<br><%= link_to "ビスケット", okashis_bis_path %>
</div>

  
  <% @rank_okashis.each do |t| %>
    <% end %>
</div>